.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-grow: 1;
  background: #ffffff;
  height: 100%;
  padding: 0 2rem;
}

@media screen and (min-width: 400px) {
  .container {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}
