.headingOne {
  font-size: 1.5rem;
  line-height: 1.96rem;
  font-family: var(--main-font);
}

.headingTwo {
  font-size: 1.125rem;
  line-height: 1.47rem;
  font-family: var(--main-font);
}

.headingThree {
  font-size: 0.875rem;
  line-height: 1.161875rem;
  font-family: var(--main-font);
}

.normalText {
  font-family: var(--secondary-font);
  font-size: 0.75rem;
  line-height: 1.02125rem;
}

@media screen and (min-width: 400px) {
  .headingOne {
    font-size: 1.75rem;
  }

  .normalText {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  .headingOne {
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .headingOne {
    font-size: 2.25rem;
  }

  .normalText {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}
